<p style="text-align: center" ng-cloak>
    <br />
    <div style="display: inline-block; width: 100%">
        <video id="explainer-vid" class="video-js vjs-tech modal-video" preload="auto" controls>
             <source src="videos/app/sidefits_explainer.mp4" type='video/mp4' />
             <source src="videos/app/sidefits_explainer.webm" type='video/webm' />
             <p class="vjs-no-js">Um dieses Video abzuspielen, aktiviere JavaScript oder nutze einen Browser, der HTML5 Video unterst&uuml;tzt. </p>
        </video>
    </div>
</p>
<p style="text-align: center">
        <br />
        <span translate="ACCOUNT_ADVANTAGES"></span>
        <br /><br />
    </p>
    <a ui-sref="modal.login" class="btn btn-block btn-orange" style="color: #fff"><span translate="SIGNUP"></span></a>
<div class="smallspace"></div>