<div class="container" ng-controller="forgotPasswordCtrl">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 translate="FORGOT_PASSWORD" class="text-center"></h2>
        <div style="text-align: center;">
            <span style="text-align: center">
                <img src="images/app/mshelpless.png" style="max-width: 150px; min-width: 50px;"/>
                <br /><br />
                <span translate="FORGOT_PASSWORD_EXPLAINER"></span>
                <br />
                <img src="images/app/resetPWprocess1_EN.png" style="max-height: 120px; min-height: 80px;"/>
                <br /><br />
            </span>
        </div>        
        <form method="post" ng-submit="forgotPassword()" name="forgotPasswordForm">
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
          </div>
          <button type="submit" ng-disabled="forgotPasswordForm.email.$invalid" class="btn btn-lg  btn-block btn-primary"><span translate="SUBMIT"></span></button>
        </form>
      </div>
    </div>
  </div>
    <div class="bigspace"></div>
</div>