<div ng-controller="ProposeExerciseCtrl">
    <form method="post" ng-submit="sendMail()" name="emailForm">
        <h5 translate="YOUR_DATA"></h5>
        <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="user-email" ng-model="mail.email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="user-name" ng-model="mail.name" placeholder="Name" required>
            <span class="ion-key form-control-feedback"></span>
        </div>
        <h5 translate="SUBJECT"></h5>
        <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="subject" ng-model="mail.subject" placeholder="{{'SUBJECT' | translate}}" required>
            <span class="ion-key form-control-feedback"></span>
        </div>
        <h5 translate="MESSAGE"></h5>             
        <textarea class="form-control" ng-model="mail.message" style="width: 100%" name="mail.message" rows="6" placeholder="{{'DESCRIBE_YOUR_EXERCISE' | translate}}">
            {{mail.message}}
        </textarea>
        <br />
        <i class="text-muted" translate="ABOUT_EXERCISE_DESCRIPTION"></i>
        <div class="smallspace"></div>
        <button type="submit" ng-disabled="emailForm.$invalid" class="btn btn-block btn-primary"><span translate="SEND"></span></button>
    </form>
</div>