<div class="container" ng-controller="resetPasswordCtrl">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 translate="RESET_PASSWORD" class="text-center"></h2>
        <div ng-if="!tokenPassed" class="alert alert-danger" role="alert"><span translate="ERROR_NO_RESET_TOKEN"></span></div>        
        <div ng-if="tokenPassed&&!tokenValid" class="alert alert-danger" role="alert"><span translate="ERROR_RESET_TOKEN_INVALID"></span></div>    
        <div ng-if="tokenValid">
            <div style="text-align: center;">
                <span style="text-align: center">
                    <img src="images/app/mshappy.png" style="max-width: 150px; min-width: 50px;"/>
                    <br /><br />
                    <span class="text-muted" translate="RESET_INFORMATION"></span>: {{resetEmail}}
                    <br />
                    <img src="images/app/resetPWprocess2_EN.png" style="max-height: 120px; min-height: 80px;"/>
                    <br /><br />
                </span>
            </div>
            <form method="post" ng-submit="resetPassword(this)" name="resetForm">
              <div class="form-group has-feedback" ng-class="{ 'has-error' : resetForm.password.$invalid && resetForm.password.$dirty }">
                <input password-strength class="form-control input-lg" type="password" name="password" ng-model="newPassword" placeholder="Password" required>
                <span class="ion-key form-control-feedback"></span>
                <div class="help-block text-danger" ng-if="resetForm.password.$dirty" ng-messages="resetForm.password.$error">
                  <div ng-message="required" translate="PASSWORD_REQUIRED" ></div>
                </div>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : resetForm.confirmPassword.$invalid && resetForm.confirmPassword.$dirty }">
                <input password-match="newPassword" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
                <span class="ion-key form-control-feedback"></span>
                <div class="help-block text-danger" ng-if="resetForm.confirmPassword.$dirty" ng-messages="resetForm.confirmPassword.$error">
                  <div ng-message="compareTo" translate="PASSWORD_MISSMATCH" ></div>
                </div>
              </div>
              <button type="submit" ng-disabled="resetForm.$invalid" class="btn btn-lg btn-block btn-primary"><span translate="RESET_PASSWORD"></span></button>
            </form>
        </div>        
        <div class="bigspace"></div>
      </div>
    </div>
  </div>
</div>