<div>
    <br />
    <img src="images/app/WorkoutCloudPlusSlack.png" style="width: 100%; height: auto" alt="WorkoutCloud + Slack = Love" title="WorkoutCloud + Slack = Love" />
    <p style="text-align: justify">
        <span translate="SLACKAPP_ABOUT"></span>
    </p>
    <div class="divider"></div>
    <br />
    <p style="text-align: left">
        <span translate="SLACKAPP_INTEGRATE"></span>
        <br />
    </p>
    <p style="text-align: center">
        <a href="https://slack.com/oauth/authorize?scope=bot&client_id=55019492017.78702654930" target="_blank"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </p>
    <p>
        <a data-toggle="collapse" data-target="#howto" translate="SLACKAPP_SHOWHOWTO" class="text-muted" style="cursor: pointer"></a>
        <br />
        <div id="howto" class="collapse">
            <span translate="SLACKAPP_HOWTO"></span>
      	</div>
    </p>
</div>
